.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    color: #22bb33;
    font-size: 3rem;
  }
  
  .button-container {
    margin-top: 2rem;
  }
  
  .button {
    background-color: #22bb33;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #009933;
  }
  